<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Team Hate MMGVO Awards</title>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Team Hate MMGVO Awards 2018</a>
    </div>
  </nav>
  <div class="container" style="text-align:center;">
    <% if not @mmgvoWinner.first.nil? %>
    <h1 class="label label-primary" ><span class="badge badge-light">MMGVO del año:</span></h1>
    <span class="badge badge-primary"><%= @mmgvoWinner.first[:mmgvo] %><span class="badge badge-light" style="margin-left: 5px;"><%= @mmgvoWinnerCount%></span></span>
    <% else %>
    <h1 class="label label-primary" ><span class="badge badge-light">MMGVO del año: NA</span></h1>
    <% end %>

    <% if not @revelacionesWinner.first.nil? %>
    <h1 class="label label-primary" ><span class="badge badge-light">Revelacion del año:</span></h1>
    <span class="badge badge-info"><%= @revelacionesWinner.first[:revelacion] %><span class="badge badge-light" style="margin-left: 5px;"><%= @revelacionesWinnerCount%></span></span>
    <% else %>
    <h1 class="label label-primary" ><span class="badge badge-light">Revelacion del año: NA</span></h1>
    <% end %>

    <% if not @infelicesWinner.first.nil? %>
    <h1 class="label label-primary" ><span class="badge badge-light">El Infeliz del año:</span></h1>
    <span class="badge badge-dark"><%= @infelicesWinner.first[:infeliz] %><span class="badge badge-light" style="margin-left: 5px;"><%= @infelicesWinnerCount%></span></span>
    <% else %>
    <h1 class="label label-primary" ><span class="badge badge-light">El Infeliz del año: NA</span></h1>
    <% end %>

    <% if not @jugadorWinner.first.nil? %>
    <h1 class="label label-primary" ><span class="badge badge-light">Jugador mas odiado en WW:</span></h1>
    <span class="badge badge-dark"><%= @jugadorWinner.first[:jugador] %><span class="badge badge-light" style="margin-left: 5px;"><%= @jugadorWinnerCount%></span></span>
    <% else %>
    <h1 class="label label-primary" ><span class="badge badge-light">Jugador mas odiado en WW: NA</span></h1>
    <% end %>

    <% if not @nuncaWinner.first.nil? %>
    <h1 class="label label-primary" ><span class="badge badge-light">El que nunca puede:</span></h1>
    <span class="badge badge-dark"><%= @nuncaWinner.first[:nunca] %><span class="badge badge-light" style="margin-left: 5px;"><%= @nuncaWinnerCount%></span></span>
    <% else %>
    <h1 class="label label-primary" ><span class="badge badge-light">El que nunca puede: NA</span></h1>
    <% end %>

    <table class="table table-striped" width="80%">
      <tr>
        <th>Email</th>
        <th>MMVO</th>
        <th>REVELACION</th>
        <th>INFELIZ</th>
        <th>JUGADOR MAS ODIADO</th>
        <th>NUNCA PUEDE</th>
      </tr>
      <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.email %></td>
        <td><%= vote.mmgvo %></td>
        <td><%= vote.revelacion %></td>
        <td><%= vote.infeliz %></td>
        <td><%= vote.jugador %></td>
        <td><%= vote.nunca %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <h2>VOTOS SIN CONFIRMAR</h2>
    <table class="table table-striped" width="80%">
      <tr>
        <th>Email</th>
        <th>MMVO</th>
        <th>REVELACION</th>
        <th>INFELIZ</th>
        <th>JUGADOR MAS ODIADO</th>
        <th>NUNCA PUEDE</th>
      </tr>
      <% @unconfirmedVotes.each do |vote| %>
      <tr>
        <td><%= vote.email %></td>
        <td><%= vote.mmgvo %></td>
        <td><%= vote.revelacion %></td>
        <td><%= vote.infeliz %></td>
        <td><%= vote.jugador %></td>
        <td><%= vote.nunca %></td>
      </tr>
      <% end %>
    </table>
  </div>

</body>

</html>
