<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Team Hate MMGVO Awards</title>

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Team Hate MMGVO Awards 2018</a>
    </div>
  </nav>
  <div class="container">
    <h1>MMGVO del año:</h1>
    <h2><%= @mmgvoWinner.first["mmgvo"] %></h2>
    <h1>Revelacion del año:</h1>
    <h2><%= @revelacionesWinner.first["revelacion"] %></h2>
    <h1>Infeliz del año:</h1>
    <h2><%= @infelicesWinner.first["infeliz"] %></h2>
    <table width="80%">
      <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.email %></td>
        <td><%= vote.mmgvo %></td>
        <td><%= vote.revelacion %></td>
        <td><%= vote.infeliz %></td>
      </tr>
      <% end %>
    </table>
  </div>

</body>

</html>
